@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import "mixins";

* {
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

body {
    font-size: 18px;
    overflow-x: hidden;

    @include breakpoint(laptopL) {
        font-size: 20px;
    }

    @include breakpoint(laptopSL) {
        font-size: 22px;
    }
}

$darkBlue:hsl(233, 26%, 24%);
$limeGreen:hsl(136, 65%, 51%);
$brightCyan:hsl(192, 70%, 51%);
$grayBlue:hsl(233, 8%, 62%);
$lightFont: hsl(220, 16%, 96%);
$lightGrayish:hsl(220, 16%, 96%);
$veryLightGray:hsl(0, 0%, 96%);

h1,
h5,
h4,
h2 {
    color: $darkBlue;
    font-weight: 400;
}

h5 {
    font-size: 1.1em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: $grayBlue;

    @include breakpoint(laptopSL) {
        font-size: 0.8em;
    }
}

p {
    color: $grayBlue;
    font-size: 0.9em;

    @include breakpoint(tablet) {
        max-width: 460px;
        margin: 0 auto;
    }

    @include breakpoint(laptop) {
        margin: 0;
    }
}

.requestBtn {
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    color: $lightFont;
    font-size: 0.8em;
    font-weight: 700;
    background: linear-gradient(90deg, $limeGreen, $brightCyan);
    display: block;
    max-width: 120px;
    margin: 0 auto;
    text-align: center;

    @include breakpoint(laptopSL) {
        max-width: 150px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.5rem;
    align-items: center;
    position: fixed;
    min-width: 100vw;
    box-sizing: border-box;
    z-index: 100;

    @include breakpoint(laptop) {
        padding: 1.5rem 6rem;
    }

    @include breakpoint(laptopL) {
        padding: 2rem 6rem;
    }

    &__navigation {
        display: none;

        @include breakpoint(laptopL) {
            display: flex;
        }

        &__link {
            margin: 0 1rem;
        }
    }

    &__button {
        display: none;

        @include breakpoint(laptopL) {
            display: block;
            margin: 0;
        }
    }

    & .menuBtn {
        width: 30px;
        height: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint(laptopL) {
            display: none;
        }

        &__bar {
            width: 100%;
            height: 2px;
            background: $darkBlue;
        }
    }
}

.main {
    padding-bottom: 8rem;

    @include breakpoint(laptop) {
        display: flex;
        align-items: center;
        padding: 8rem 0;
    }

    &__imagesWrap {
        width: 100vw;
        position: relative;
        max-height: 350px;
        padding-bottom: 5rem;
        align-items: center;
        display: flex;
        order: 2;

        @include breakpoint(laptop) {
            width: 50%;
        }

        &__backgroundImg {
            bottom: 0;
            left: -25%;
            width: 180vw;
            position: absolute;
            z-index: -1;

            @include breakpoint(laptop) {
                left: -5%;
                width: 75vw;
                top: -40%;
            }
        }

        &__mainImg {
            width: 92vw;
            z-index: 50;
            padding: 0 1rem;
            max-width: 420px;
            margin: 0 auto;

            @include breakpoint(laptop) {
                max-width: 650px;

            }

            @include breakpoint(laptopL) {
                max-width: 750px;
                transform: translate(20%, 10%);
            }
        }
    }

    &__textWrap {
        text-align: center;
        padding: 0 1.5rem;
        padding-left: 6rem;

        @include breakpoint(laptop) {
            max-width: 360px;
            text-align: left;
        }

        @include breakpoint(laptopL) {
            max-width: 440px;

        }

        &__text {
            padding: 1rem 0;
        }

        &__button {
            margin-top: 1.5rem;

            @include breakpoint(laptop) {
                margin: 1rem 0;

            }
        }
    }
}

.whyUs {
    text-align: center;
    padding: 5rem 1.5rem;
    background: $lightGrayish;

    @include breakpoint(laptop) {
        text-align: left;
        padding: 5rem 6rem;
    }

    &__text {
        margin-top: 1rem;
    }

    &__items {
        min-height: 400px;

        @include breakpoint(laptop) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__item {
            &:first-of-type {
                margin-top: 4rem;

                @include breakpoint(laptop) {
                    margin: 0;
                }
            }

            &__title {
                margin: 1rem 0;
            }

            margin: 2rem 0;

            @include breakpoint(tablet) {
                max-width: 380px;
                margin: 2rem auto;

            }

            @include breakpoint(laptop) {
                margin: 0 1rem;
            }
        }
    }
}

.articles {
    text-align: center;
    padding: 5rem 1.5rem;
    background: $veryLightGray;

    @include breakpoint(laptopL) {
        text-align: left;
        padding: 5rem 6rem;
    }

    &__title {
        @include breakpoint(laptopL) {
            margin-bottom: 2rem;
        }
    }

    &__items {
        @include breakpoint(laptopL) {
            display: flex;

        }

        &__item {
            border-radius: 0.5rem;
            overflow-x: hidden;
            margin: 2rem 0;
            padding-bottom: 2rem;
            background: #fff;

            @include breakpoint(tablet) {
                max-width: 460px;
                margin: 2rem auto;
            }

            @include breakpoint(laptopL) {
                margin: 0 1rem;
            }

            &__image {
                width: 100%;
            }

            &__textWrap {
                padding: 1.5rem;
                text-align: left;

                &__author {
                    font-size: 0.65em;
                }

                &__text {
                    font-size: 0.85em
                }

                &__title {
                    padding: 0.5rem 0;
                }
            }
        }
    }
}

.footer {
    background: $darkBlue;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;

    @include breakpoint(laptop) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    &__comercialWrap {
        margin-bottom: 2rem;

        @include breakpoint(laptop) {
            margin: 0;
        }

        &__socialsWrap {
            margin-top: 2rem;

            &__icon {
                margin: 0 0.3rem;
            }
        }
    }

    &__list {
        @include breakpoint(laptopL) {
            display: flex;
            max-width: 300px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include breakpoint(laptopSL) {
            max-width: 500px;
        }

        &__link {
            @include breakpoint(laptopL) {
                margin: 1rem 1.5rem;
                font-size: 0.9em;
            }

            &__item {
                &:first-of-type {
                    margin-top: 0;
                }



                font-weight: 300;
                color: $lightFont;
                list-style-type: none;
                margin: 0.7rem 0;
            }
        }
    }

    &__rightsWrap {
        &__button {
            margin: 1.5rem auto;

            @include breakpoint(laptopL) {
                margin: 0 0 1.5rem auto;
            }
        }

        &__rights {
            font-weight: 300;
        }
    }
}